* {
    margin:0;
    padding:0;
}

#main-south-panel {
    left:10%;
    height:10%;
    clear:both;
    bottom:0;
    z-index:10;
    position:fixed;
}
#main-east-panel {
    margin:0;
    width:9%;
    height:22em;
    float:left;
    margin-top: 35px;
    position:fixed;
    left:0;
    z-index:10
}
#main-west-panel {
    margin:0;
    width:9%;
    height:22em;
    float:right;
    margin-top: 35px ;
    position:fixed;
    right:0;
    z-index:10;
}
#main-myscene {
    width: 100%;
    height:708px;
    float:left;
}

#main-center {
    width: 100%;
    background-color: gold;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

.form-control {
    text-align:center;
}
#login-button, #register-button{
   margin-top: 10px;
    width: 70%;
}
#login-error{
    color: red;
}


